# SPDX-FileCopyrightText: 2014-2024 Arkadiusz Bokowy and contributors
# SPDX-License-Identifier: GPL-3.0-or-later

name: CI - Build and Test

on:
  push:
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        features:
        - --enable-debug --enable-manpages
        - --enable-libnotify
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
    - name: Install Dependencies
      uses: awalsh128/cache-apt-pkgs-action@v1
      with:
        packages: >
          libcurl4-openssl-dev
          libnotify-dev
          python3-docutils
    - uses: actions/checkout@v6
    - name: Create Build Environment
      run: |
        mkdir -p ${{ github.workspace }}/build
        autoreconf --install
    - name: Configure GNU Automake
      working-directory: ${{ github.workspace }}/build
      run: |
        ${{ github.workspace }}/configure ${{ matrix.features }}
    - name: Build
      working-directory: ${{ github.workspace }}/build
      run: make && make check TESTS=
    - name: Run Test
      working-directory: ${{ github.workspace }}/build
      run: make -j8 check
    - name: Show Test Log
      if: ${{ always() }}
      working-directory: ${{ github.workspace }}/build
      run: cat test/*.log
